
/*Alle bildene i bildekarusellen må ha en viss størrelse*/
.carousel-inner{
    /*margin: auto;
    position: center;
    height: 50vw;*/
    height: 80vh;
    width: 100%;
}
.carousel-inner img {
    object-fit: cover;
    
}

#bildekarusellStreker li{
    background-color: rgb(232, 202, 82);
}

#ForsideKarusell{
    
}

@media only screen and (max-width: 1000px){
    .carousel-inner{
        height: 60vh;
    }
}

@media only screen and (max-width: 800px){
    .carousel-inner{
        height: 35vh;
    }
}