
.introText{
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: white;
}
#introTextImg {
    width: 40%;
}


#tjenesterEntreprenør{
    padding: 40px 10% 40px 10%;
    background-color:rgb(232, 202, 82);
}
#tjenesteboks{
    background-color: white;
}
#tjenesterEntreprenørLogo{
    height: 100%;
    width: 100%;
}
#tjenesterEntreprenørContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
        grid-template-areas: 
            "hvemErVi tjenesterEntreprenør bilde"; 
}
#tjenesterEntreprenørFørsteBoks{
    grid-area: hvemErVi;
    padding: 20px;
}
#tjenesterEntreprenørAndreBoks{
    grid-area: tjenesterEntreprenør;
    padding: 20px;  
}
#tjenesterEntreprenørAndreBoks ul{
    /*list-style-type: square;*/
    list-style-type: circle;
}
#tjenesterEntreprenørEntreprenørButton{
    margin: auto;
}
#tjenesterEntreprenørTredjeBoks{
    grid-area: bilde;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    margin: auto auto auto auto;
}


#prosjekter{
    background-color: rgb(50, 55, 61);
    text-align: center;
}
#prosjekterTittel h3{
    color: white;
    padding: 20px 20px 0px 20px;
}
#prosjekterTittelUnderstrek{
    width: 5%;
    height: 3px;
    background-color:rgb(232, 202, 82);
}
.prosjekterShowCards{
    width: 80%;
    padding: 10px 20px 30px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "showCard1 showCard2";
    margin: auto;
}

#prosjekterShowCardImg{
    height: 40%;
}
#prosjekterShowCard1{
    width: 60%;
    margin: 10px 30px 30px auto;
    grid-area: showCard1;
}
#prosjekterShowCard2{
    width: 60%;
    margin: 10px auto 30px 30px;
    grid-area: showCard2;
}


#ansatte{
    background-color: rgb(232, 202, 82);
    text-align: center;
}
#ansatteTittel h3{ 
    color: black;
    padding: 20px 20px 0px 20px;
}
#ansatteTittelUnderstrek{
    width: 4%;
    height: 3px;
    background-color:rgb(50, 55, 61);
}
#ansatte img{
    border-radius: 50%;
    height: 50%;
    width: 50%;
    margin-bottom: 10px;
}
#ansatteCards{
    width: 55%;
    padding: 40px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto 0 auto;

}
.ansattCard{
    margin: 10px auto 10px auto;
    
}

#omOss{
    background-color: rgb(50, 55, 61);
    text-align: center;
}
#omOssTittel h3{ 
    color: white;
    padding: 20px 20px 0px 20px;
}
#omOssTittelUnderstrek{
    width: 5%;
    height: 3px;
    background-color:rgb(232, 202, 82);
}
#omOssContainer{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "bilde tekst";
    padding: 10px 0 60px 0;
    
}
#omOssBilde{
    grid-area: bilde;
    width: 80%;
    margin: auto;
    padding: 20px;
}
#omOssTekst{
    grid-area: tekst;
    color: white;
    padding: 20px;
}


@media only screen and (max-width: 1400px){
    #tjenesterEntreprenørContainer{
        grid-template-columns: 1fr 1fr;
        margin: 20px;
        display: grid;
        grid-template-areas: 
            "hvemErVi bilde"
            "tjenesterEntreprenør bilde";  
    }
    #tjenesterEntreprenørLogo{
        height: 80%;
        width: 80%;
    }


    #ansatteCards{
        width: 80%;
    }

}

@media only screen and (max-width: 1000px){
    #introTextImg {
        width: 90%;
    }
    
    #tjenesterEntreprenørContainer{
        grid-template-columns: 1fr;
        margin: 0px;
        display: grid;
        grid-template-areas: 
            "hvemErVi"
            "tjenesterEntreprenør"
            "bilde";  
    }

    .prosjekterShowCards{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "showCard1" 
            "showCard2";
    }
    #prosjekterShowCard1{
        width: 80%;
        margin: 20px auto 20px auto;
        grid-area: showCard1;
    }
    #prosjekterShowCard2{
        width: 80%;
        margin: 20px auto 20px auto;
        grid-area: showCard2;
    }
    #prosjekterTittelUnderstrek{
        width: 22%
    }


    #ansatteTittelUnderstrek{
        width: 18%
    }
    #ansatteCards{
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto 0 auto;
    }
    .ansattCard{
        margin: auto auto auto auto;
    }


    #omOssTittelUnderstrek{
        width: 22%
    }
    #omOssContainer{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "bilde"
            "tekst";
        padding: 10px 0 20px 0;
    }
    #omOssTekst{
        margin-top: 30px;
    }
    

}